<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder location="classpath*:properties/*.properties" />

    <!--  freemarker -->
    <bean id="freemarkerConfig"	class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/" />
        <!--<property name="defaultEncoding" value="utf-8" />-->
        <property name="freemarkerSettings">
        <props>
            <!-- 设置页面中文乱码问题 -->
            <prop key="default_encoding">UTF-8</prop><!--模板的编码格式 -->
            <prop key="locale">UTF-8</prop><!-- 本地化设置 -->
            <prop key="url_escaping_charset">UTF-8</prop>
            <!--  其他配置 -->
            <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
            <prop key="time_format">HH:mm:ss</prop>
            <prop key="number_format">0.####</prop>
            <prop key="boolean_format">true,false</prop>
            <prop key="whitespace_stripping">true</prop>
            <prop key="tag_syntax">auto_detect</prop>
        </props>
        </property>
    </bean>



    <bean id="freemarkerResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <!-- 设置页面中文乱码问题 -->
        <property name="contentType" value="text/html;charset=UTF-8"/>

        <!--  其他配置 -->
        <property name="cache" value="true" />
        <property name="prefix" value="" />
        <property name="suffix" value=".ftl" />
        <property name="requestContextAttribute" value="request" />
        <property name="exposeSpringMacroHelpers" value="true" />
        <property name="exposeRequestAttributes" value="true" />
        <property name="exposeSessionAttributes" value="true" />
    </bean>


    <context:component-scan base-package="com.pinyougou.page.service.impl"/>

    <!--  提供服务  -->
    <!--<dubbo:protocol name="dubbo" port="20885"></dubbo:protocol>
    <dubbo:application name="pinyougou-page-service"/>
    &lt;!&ndash;<dubbo:registry address="zookeeper://192.168.25.129:2181"/>&ndash;&gt;
    <dubbo:registry address="zookeeper://118.24.122.111:2181"/>
    <dubbo:annotation package="com.pinyougou.page.service.impl" />-->

</beans>